:root{
  /*Color Palette*/
  --mid1: #CEB992;
  --mid2: #73937E;
  --dark1: #585563;
  --dark2: #5B2E48;
  --dark3: #471323;
}

.btn {
  display: block;
}

.sidenav {
  position: fixed;
  height: 100%;
  width: 250px; /* Adjust width */
  background-color: #585563;;
  padding-top: 20px;
}

/* .input{
  padding:200px;
  display: inline;
} */

#submitButton{
  display: inline;
}

#main-content{
  justify-content: center;
  padding: 25px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--dark2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--mid1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
